{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "vue/html-self-closing": [
      "off",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ]
    // "react/display-name": "off",
    // "react/no-unknown-property": "off"
  }
}
